
table tr{
    top: 10px;
    vertical-align: middle;
    border: 1px solid black;
}

table td{
    border: 1px solid black;
}

table th{
    border: 1px solid black;
    
}
td button{
    margin: 5px;
    font-size: 20px;
    font-style: normal;
    font-display: normal;
}


.btn-prim{
    position: absolute; 
    top: 50px; 
    right: 38px; 
    padding: 10px 10px; 
    background-color: #007BFF; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s;
    font-style: normal;
}


.input {
    display: flex;
    flex-wrap: wrap;
  }
  
.input div {
  margin-bottom: 10px;
  width: 100%;
}

.right-side {
  margin-left: auto;
  width: 50%; 
}

.right-side div {
  width: 100%; 
}

#myForm label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  color: #333;
}

#myForm input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  font-size: 14px;
}

.btn {
  margin-right: 5px;
  font-style: normal;
}

#price::placeholder {
  color: #888;
}

input:focus {
  outline: solid black;
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.submit {
    margin-left: 100px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

