body {
    margin: 0;
    font-family: 'Jaldi', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    background: #f5f5f5;
}


.background-image {
  background-image: url('assets/Airport.jpg');
  background-size: cover;
  background-position: center;
  height: 325px;
}
